/*
    Author: Vyacheslav Shmal
    Date: 15/7/17
*/

#app {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4d4d4d;
    min-width: 550px;
    max-width: 850px;
    margin: 0 auto;
}

a.active {
    color: orange;
}

nav {
    padding-top: 20px;
}

body{ background-color: #eee !important;}
div.jumbotron { background-color: #fff;}

/*--- HangMan Page ---*/
.wrapper { width: 420px; margin: 0 auto; text-align: center; background-color: #fff; border-radius: 5px; padding: 5px;    margin-top: 50px;}
span.indent {  margin: 5px; font-size: 30px;}

.alphabet {
    border: 1px solid #ccc;
    padding: 3px;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    width: 28px;
    border-radius: 4px;
    margin: 1px;
    cursor: pointer;
    transition: background-color 0.5s;
}
.alphabet:hover {
    background-color: #ccc;
    transition: background-color 0.5s;
}

.alphabetWrapper {  margin: 18px 0;}


body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 65px;
}

.game-info {
    margin-left: 20px;
}
